<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carrito de Compras</title>
</head>
<body>
  <h1>Carrito de Compras</h1>

  {{#if cart.products.length}}
    <ul>
      {{#each cart.products}}
        <li>
          <h3>{{this.prods.title}}</h3>
          <p>{{this.prods.description}}</p>
          <p><strong>Precio: ${{this.prods.price}}</strong></p>
          <p><strong>Cantidad: {{this.quantity}}</strong></p>
        </li>
      {{/each}}
    </ul>
    <h3>Total del Carrito: ${{total}}</h3>
  {{else}}
    <p>El carrito está vacío.</p>
  {{/if}}

  <a href="/products">Volver a la tienda</a>
</body>
</html>
